# 依赖见requirements.txt
# 使用git submodule管理mkdocs material
# 使用pip install -e mkdocs-material来安装mkdocs material

site_name: Scott930
site_url: https://scottcheung930.github.io/Scott930Website/

nav:
  - 首页: index.md
  - 通信:
      - communication/index.md
  - 代码:
      - coding/index.md
      - c:
        - coding/c/index.md
      - c++: 
        - coding/cpp/index.md
        - coding/cpp/1_types.md
        - coding/cpp/2_io.md
        - coding/cpp/3_container.md
        - coding/cpp/4_memory_and_lifetime.md
        - coding/cpp/5_functions.md
        - coding/cpp/6_compile_and_multifile.md
        - coding/cpp/7_oop.md
        - coding/cpp/8_cpp_heap_memory.md
        - coding/cpp/macro.md
  - 杂记:
      - notes/index.md
      - 毕设: 
        - notes/masterThesis/index.md
        - notes/masterThesis/2025-02-02.md
        - notes/masterThesis/2025-02-07.md 
        - notes/masterThesis/2025-02-23.md
        - notes/masterThesis/2025-03-09.md
        - notes/masterThesis/2025-03-30.md
        - notes/masterThesis/2025-04-06.md
      - 讲座：5G and Beyond:
        - notes/lecture/note_CellularSystems-5GandBeyond.md
        - notes/lecture/note_CellularSystems-5GandBeyond_part2.md
      - QQ机器人:
        - notes/qqBot/index.md
theme:
  name: material
  custom_dir: overrides
  features: 
    # 不使用instant mode，因为会导致数学公式渲染失败
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tabs.prune
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - content.code.annotate
    - content.action.edit
    - content.action.view
    - content.code.copy
    - content.tooltips
  logo: assets/logo.png
  icon:
    annotation: material/plus-circle
  favicon: assets/images/logo.png
  palette: 
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  language: zh
extra_css:
  - stylesheets/extra.css
  - https://unpkg.com/katex@0/dist/katex.min.css
extra_javascript:
  - javascripts/extra.js
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

# 以下配置，参考 c01dkit https://github.com/c01dkit/tech-blog/blob/main/mkdocs.yml
#             和 Xiaokang2022 https://github.com/oh-my-mkdocs/oh-my-mkdocs/blob/main/mkdocs.yml
#             和 TonyCrane https://github.com/TonyCrane/mkdocs-toolchain
  - //busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js # 卜蒜子站点访问统计


repo_url: https://github.com/ScottCheung930/Scott930Website # 仓库地址
repo_name: ScottCheung930/Scott930Website # 仓库名称
site_description: ScottCheung930's personal website. # 站点描述
site_author: scotcheung930 # 站点作者
copyright: Copyright &copy; 2025 ScottCheung930 # 版权信息
remote_branch: gh-pages # GitHub Pages 远程分支名称（默认值）
remote_name: origin # 远程名称（默认值）
docs_dir: docs # 文档目录（默认值）
use_directory_urls: true # URL 使用目录名还是文件名（默认值）
strict: false # 警告级别（默认值），出现警告就终止程序

markdown_extensions:
  ###### Python Markdown 配置（markdown 基础语法）

  # 被 pymdownx.extra 完全替代且【冲突】
  - abbr # 定义缩写
  - attr_list # Markdown 元素可添加 HTML 和 CSS 属性
  # - def_list # 定义列表
  - footnotes # 脚注
  - md_in_html # Markdown 元素可内嵌在 HTML 中
  # - tables # 表格

  # - fenced_code # 代码块，被 pymdownx.superfences 完全替代且【冲突】
  # - codehilite # 代码高亮，被 pymdownx.highlight 完全替代且优化

  # - nl2br # 换行符会直接换行

  - admonition # 提示框
  - meta # 元数据
  # - sane_lists # 理智列表，避免原版 Markdown 列表错误渲染
  - smarty # 优化部分字符串为特殊符号
  - wikilinks # 快捷链接

  - toc: # 目录
      marker: "" # 目录替换文本，空字符串则不替换，缺省为 [TOC]
      # title: "" # 目录标题，material 主题会自动根据语言计算
      anchorlink: false # 锚点链接（默认值），给标题自身锚定链接
      permalink: "&para;" # 锚点符号
      permalink_title: "" # 锚点链接提示词，空字符表示没有
      permalink_leading: false # 前置锚点链接（默认值），将锚点放到标题前面
      baselevel: 1 # 最高级别（默认值），往下顺延
      separator: "-" # 分隔符（默认值），替换空格字符
      toc_depth: 4 # 目录显示级别
      slugify:
        !!python/object/apply:pymdownx.slugs.slugify # 锚点链接 URL 格式（小写）
        kwds:
          case: lower

  ###### PyMdown Extensions 配置（markdown 扩展语法）        

  - pymdownx.extra # 见上面 Python Markdown 配置说明
  # - pymdownx.striphtml # 去除 HTML 中不需要的注释和 / 或标记属性，与插件 minify 有交叉但没有完全覆盖

  - pymdownx.blocks.tab # 支持更高级的标签块写法（可能与 pymdownx.tabbed 混淆）
  - pymdownx.blocks.html # 支持一些更高级的 Markdown 内嵌 HTML 语法（pymdownx.blocks 默认开启）
  - pymdownx.blocks.details # 支持更高级的提示框布局（可能与 pymdownx.details 混淆）
  - pymdownx.blocks.definition # 支持更高级的定义块语法（可能与 def_list 混淆）
  - pymdownx.blocks.admonition # 支持更高级提示框语法（可能与 admonition 混淆）

  - pymdownx.saneheaders # 理智标题，“#”和标题间必须有空格
  - pymdownx.smartsymbols # 智能符号优化，比上面的 smarty 支持更多
  - pymdownx.inlinehilite # 行内代码高亮
  - pymdownx.keys # 按键高亮优化，增加图标
  - pymdownx.details # 支持提示框的折叠
  - pymdownx.mark # 文本高亮
  - pymdownx.caret # 文本下划线及上标
  - pymdownx.tilde # 文本删除线及下标
  - pymdownx.betterem # 斜体与粗体优化，更好的嵌套使用
  - pymdownx.superfences
  - pymdownx.arithmatex: # 数学表达式
      generic: true

  - pymdownx.snippets: # 外部片段插入
      url_download: true # 远程文件下载
      url_timeout: 10.0 # 超时时长（默认值）
      url_max_size: 33554432 # 文件大小限制（默认值），32MiB

  - pymdownx.escapeall: # 转义一切
      hardbreak: true # 转义换行符会变成间断 <br>
      nbsp: true # 空格转义会变成无间隔空格 &nbsp;

  - pymdownx.magiclink: # 魔术链接，自动识别链接
      user: "" # 可缺省的用户名（默认值）
      repo: "" # 可缺省的仓库名（默认值）
      hide_protocol: false # 隐藏链接协议头（默认值）
      repo_url_shorthand: true # 识别仓库提交等链接
      repo_url_shortener: true # 仓库提交等链接简短显示
      social_url_shorthand: true # 识别社交账号等链接
      social_url_shortener: true # 社交账号等链接简短显示
      normalize_issue_symbols: true # 规范化 Issue、PR 等链接的表示为 #

  - pymdownx.critic: # 文本评论
      mode: view # view 显示差异，accept 显示修改后，reject 显示修改前

  - pymdownx.tasklist: # 任务列表
      custom_checkbox: true # 允许修改复选框样式（默认已修改）
      clickable_checkbox: true # 允许点击复选框

  - pymdownx.highlight: # 代码高亮
      use_pygments: true # 使用 Pygments 而不是 JavaScript 来渲染高亮
      linenums: true # 显示行号（默认值）
      linenums_style: pymdownx-inline # 行号样式 pymdownx-inline 或者 inline 和 table
      anchor_linenums: true # 用锚链接包装代码行号，便于超链接和共享（就是行号可以像锚点一样被点击）
      line_spans: __span # 这对于高亮功能正常工作至关重要
      pygments_lang_class: true # 对于自定义注释标记的运行至关重要
      # auto_title: true # 自动为所有代码块添加一个标题

  - pymdownx.emoji: # Emoji 表情
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

  - pymdownx.superfences: # 各种嵌套
      disable_indented_code_blocks: false # 禁用缩进代码块（默认值）
      preserve_tabs: true # 嵌套块格式化表格（实验性）
      custom_fences:
        - name: mermaid # 允许 mermaid 图表语法
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  - pymdownx.tabbed: # 选项卡
      alternate_style: true # 实验性样式
      combine_header_slug: true # 选项卡 URL 带上父标题的前缀
      separator: "-" # 分隔符（默认值），替换空格字符
      slugify: !!python/object/apply:pymdownx.slugs.slugify {}

plugins: 
  - search
  - statistics
  - meta

hooks:
  - tools/mkdocs_hooks.py
