name: ci 
on:
  push:
    branches:
      - master 
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache 
          restore-keys: |
            mkdocs-material-
      - run: python -m pip install "mkdocs>=1.6,<1.7" mkdocs-material mkdocs-statistics-plugin
      - run: python -m mkdocs --version
      - name: Update index TOC and commit
        run: |
          python -m mkdocs build --clean
          git add docs/**/index.md
          if git diff --cached --quiet; then
            echo "No TOC changes to commit."
          else
            git commit -m "chore: update index TOC"
            git push
          fi
      - run: mkdocs gh-deploy --force
